:root {
    --bg-color: rgb(255, 255, 255);
    --text-color: #2a5a92;
    --grey-color: #fffff3;
    --blue-color: rgb(112, 63, 245);
    --poppins-font: "Poppins", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--poppins-font);
  }
  .app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }
  header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: 1px solid var(--text-color);
    outline: none;
    color: var(--text-color);
    border: 3px solid var(--blue-color);
    border-radius: 50px;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
  }
  main {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 25px 50px;
  }
  
  .location .city {
    color: var(--blue-color);
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .location .date {
    color: var(--blue-color);
    font-size: 16px;
    font-weight: 400;
  }
  .current .temp {
    color: var(--blue-color);
    font-size: 102px;
    font-weight: 900;
    margin: 20px 0px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
  }
  .current .temp span {
    font-size: 80px;
    font-weight: 500;
  }
  .current .weather {
    color: var(--blue-color);
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
  }
  .current .hi-low {
    color: var(--blue-color);
    font-size: 24px;
    font-weight: 500;
  }
  header .search-btn {
    display: inline-block;
    margin-left: 10px;
    width: 48px;
    height: 48px;
    padding: 5px 0px 0 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--blue-color);
    outline: none;
    position: absolute;
    right: 0;
    color: white;
  }
  .search-container {
    display: flex;
    position: relative;
  }